@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@addTagHelper AuthoringTagHelpers.TagHelpers.EmailTagHelper, AuthoringTagHelpers
<!doctype html>
<html>
<head>
    <meta charset='utf-8'>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <title>MyQA</title>
    <link href="~/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <link href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.0.3/css/font-awesome.css' rel='stylesheet'>
    <link href="~/css/styleQuestionaire.css" rel="stylesheet" />
    <script type='text/javascript' src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js'></script>
    <script type='text/javascript' src='https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js'></script>
    <script src="~/bootstrap/js/bootstrap.min.js"></script>
    <script type='text/javascript'>
		$(document).ready(function () {
			var current_fs, next_fs, previous_fs; //fieldsets
			var opacity;
			var current = 1;
			var steps = $("fieldset").length;

			setProgressBar(current);
			$(".next").click(function () {
				current_fs = $(this).parent();
				next_fs = $(this).parent().next();

				//Add Class Active
				$("#progressbar li").eq($("fieldset").index(next_fs)).addClass("active");

				//show the next fieldset
				next_fs.show();
				//hide the current fieldset with style
				current_fs.animate({ opacity: 0 }, {
					step: function (now) {
						// for making fielset appear animation
						opacity = 1 - now;

						current_fs.css({
							'display': 'none'
						});
						next_fs.css({ 'opacity': opacity });
					},
					duration: 500
				});
				setProgressBar(++current);
			});

			$(".previous").click(function () {

				current_fs = $(this).parent();
				previous_fs = $(this).parent().prev();

				//Remove class active
				$("#progressbar li").eq($("fieldset").index(current_fs)).removeClass("active");

				//show the previous fieldset
				previous_fs.show();

				//hide the current fieldset with style
				current_fs.animate({ opacity: 0 }, {
					step: function (now) {
						// for making fielset appear animation
						opacity = 1 - now;

						current_fs.css({
							'display': 'none'
						});
						previous_fs.css({ 'opacity': opacity });
					},
					duration: 500
				});
				setProgressBar(--current);
			});

			function setProgressBar(curStep) {
				var percent = parseFloat(100 / steps) * curStep;
				percent = percent.toFixed();
				$(".progress-bar")
					.css("width", percent + "%")
			}

			$(".submit").click(function () {
				return false;
			})

		});</script>
</head>
<body class='snippet-body'>
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class=" col-lg-6  p-0 pic ">
                <img src="~/images/questionaireImage.png" alt="" class="img-fluid">
            </div>
            <div class="col-11 col-sm-9 col-md-7 col-lg-6 col-xl-5 text-center p-0 mt-3 mb-2">
                <div class="card px-0 pt-4 pb-0 mt-3 mb-3">
                    <div class="logo">
                        <a asp-action="CustomerHair" asp-controller="HairProfile"><img src="~/images/m-logo.png" alt=""></a>
                        <p>We're excited to get your personalized hair care plan started! Please complete this questionnaire as accurately as possible.</p>
                    </div>
                    <div class="getstarted">
                        <a onclick="redirectTo()" class="start-btn" tabindex="0"> Get Started</a> <span></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>

		function getUrlVars() {
			var vars = [], hash;
			var hashes = window.location.href.slice(window.location.href.indexOf('?') + 1).split('&');
			for (var i = 0; i < hashes.length; i++) {
				hash = hashes[i].split('=');
				vars.push(hash[0]);
				vars[hash[0]] = hash[1];
			}
			return vars;
		}
        
		function redirectTo() {
			//var id = getUrlVars()["id"];
			var id = "@ViewBag.id";
            window.location.href = "/Questionnaire/QuestionaireSurvey?userId=" + id;
		}

	(function ($) {
			var elActive = '';
			$.fn.selectCF = function (options) {

				// option
				var settings = $.extend({
					color: "rgb(112, 112, 112)", // color
					backgroundColor: "#none", // background
					change: function () { }, // event change
				}, options);

				return this.each(function () {

					var selectParent = $(this);
					list = [],
						html = '';

					//parameter CSS
					var width = $(selectParent).width();

					$(selectParent).hide();
					if ($(selectParent).children('option').length == 0) { return; }
					$(selectParent).children('option').each(function () {
						if ($(this).is(':selected')) { s = 1; title = $(this).text(); } else { s = 0; }
						list.push({
							value: $(this).attr('value'),
							text: $(this).text(),
							selected: s,
						})
					})

					// style
					var style = " background: " + settings.backgroundColor + "; color: " + settings.color + " ";

					html += "<ul class='selectCF'>";
					html += "<li>";

					html += "<span class='titleCF' style='" + style + "; width:" + width + "px'>" + title + "</span>";
					html += "<span class='searchCF' style='" + style + "; width:" + width + "px'><input style='color:" + settings.color + "' /></span>";
					html += "<span class='arrowCF ion-chevron-right' style='" + style + "'></span>";
					html += "<ul>";
					$.each(list, function (k, v) {
						s = (v.selected == 1) ? "selected" : "";
						html += "<li value=" + v.value + " class='" + s + "'>" + v.text + "</li>";
					})
					html += "</ul>";
					html += "</li>";
					html += "</ul>";
					$(selectParent).after(html);
					var customSelect = $(this).next('ul.selectCF'); // add Html
					var seachEl = $(this).next('ul.selectCF').children('li').children('.searchCF');
					var seachElOption = $(this).next('ul.selectCF').children('li').children('ul').children('li');
					var seachElInput = $(this).next('ul.selectCF').children('li').children('.searchCF').children('input');

					// handle active select
					$(customSelect).unbind('click').bind('click', function (e) {
						e.stopPropagation();
						if ($(this).hasClass('onCF')) {
							elActive = '';
							$(this).removeClass('onCF');
							$(this).removeClass('searchActive'); $(seachElInput).val('');
							$(seachElOption).show();
						} else {
							if (elActive != '') {
								$(elActive).removeClass('onCF');
								$(elActive).removeClass('searchActive'); $(seachElInput).val('');
								$(seachElOption).show();
							}
							elActive = $(this);
							$(this).addClass('onCF');
							$(seachEl).children('input').focus();
						}
					})

					// handle choose option
					var optionSelect = $(customSelect).children('li').children('ul').children('li');
					$(optionSelect).bind('click', function (e) {
						var value = $(this).attr('value');
						if ($(this).hasClass('selected')) {
							//
						} else {
							$(optionSelect).removeClass('selected');
							$(this).addClass('selected');
							$(customSelect).children('li').children('.titleCF').html($(this).html());
							$(selectParent).val(value);
							settings.change.call(selectParent); // call event change
						}
					})

					// handle search
					$(seachEl).children('input').bind('keyup', function (e) {
						var value = $(this).val();
						if (value) {
							$(customSelect).addClass('searchActive');
							$(seachElOption).each(function () {
								if ($(this).text().search(new RegExp(value, "i")) < 0) {
									// not item
									$(this).fadeOut();
								} else {
									// have item
									$(this).fadeIn();
								}
							})
						} else {
							$(customSelect).removeClass('searchActive');
							$(seachElOption).fadeIn();
						}
					})

				});
			};
			$(document).click(function () {
				if (elActive != '') {
					$(elActive).removeClass('onCF');
					$(elActive).removeClass('searchActive');
				}
			})
		}(jQuery));

		$(function () {
			var event_change = $('#event-change');
			$(".select").selectCF({
				change: function () {
					var value = $(this).val();
					var text = $(this).children('option:selected').html();
					console.log(value + ' : ' + text);
					event_change.html(value + ' : ' + text);
				}
			});
			$(".test").selectCF({
				color: "rgb(112, 112, 112)",
				backgroundColor: "#663052",
			});
		})</script>

</body>
</html>